.responsive-nav {
	@extend .cf;

    nav {
		float: right;

		.button {
			background: red;
			padding-left: 20px;
			padding-right: 20px;
		}

        a {
            padding: 20px;
            padding-right: 0;
            display: block;
            float: left;

            &:hover {
            	color: white;
            }
        }


    }

}

@media screen and (max-width: 490px) {
    .responsive-nav {
    	nav a {
    		float: none;
    		padding-top: 0.25em;
    		padding-bottom: 0.25em;
    	}
    }
}