@charset "UTF-8";
@import "variables";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/

%cf {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

body {
    margin: 1em auto;
    font-family: "Open Sans", sans-serif;
}

main {
    background: white;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
    font-family: 'Roboto Slab', serif;
}

h1, .alpha {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 1.33333;
}

.page-title {
	color: lighten(red,25%);
}

.post-content a {
    text-decoration: underline;
}

a {
    text-decoration: none;

    &:focus,
    &:hover {
    	text-decoration: underline;
    }

    &:hover {
        color: red;
    }

    &:focus {
        color: blue;
    }
}

nav {
    margin-bottom: 50px;

    > a {
        padding: 1em 1em 1em 0;
    }
}

code {
    font-family: 'Source Code Pro', sans-serif;
}

pre {
    background: lighten(gray, 30%);
    padding-left: 1em;
}

.pagination {
    margin-top: 50px;
}

%selected, {
    color: red;
}

$nav-list: home, blog, about, demos;

@each $nav in $nav-list {
    .page--#{$nav} .nav--#{$nav} {
        @extend %selected;
    }
}

.hidden {
    display: none;
}

body {
    position: relative;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(black, 0.5);
    z-index: 999999;
}

picture,
img {
    max-width: 100%;
    width: 100%;
}

@import "responsive-nav";

/* Screens Wider than 720px */

@media screen and (min-width: 400px) {
    picture,
    img {
        max-width: none;
        width: auto;
        display: block;
        margin: auto;
    }
}

@media screen and (min-width: 720px) {
    header,
    main,
    footer {
        width: 700px;
        margin: 1em auto;
    }

    .full-width {
        width: calc(100% - 100px);
        margin: auto;
    }
}

@media screen and (min-width: 1500px) {
    .full-width {
        width: 1500px;
    }
}
