@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";





/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
//@import "ui/example";

body {
    width: 95%;
    margin: 1em auto;
    font-family: "Open Sans", sans-serif;
}

main {
    background: white;
    // padding: 1em 2.5%;
}


h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}


.page-title {
	color: lighten(red,25%);
}


a {
    text-decoration: none;
    // font-weight: normal;

    &:focus,
    &:hover {
    	text-decoration: underline;
    }
    &:hover {
        color: red;
    }
    &:focus {
        color: blue;
    }
}

nav {
    margin-bottom: 50px;

    > a {
        padding: 1em 1em 1em 0;
    }
}

code {
    font-family: 'Source Code Pro', sans-serif;
}

pre {
    background: lighten(gray, 30%);
    padding-left: 1em;
}

.pagination {
    margin-top: 50px;
}

.selected, {
    color: red;
}
.page--home .nav--home,
.page--blog .nav--blog,
.page--demos .nav--demos {
    @extend .selected;
}

.hidden {
    display: none;
}

body {
    position: relative;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(black, 0.5);
    z-index: 999999;
}


@import "responsive-nav";


/* Screens Wider than 720px */

@media screen and (min-width: 720px) {
    header,
    main,
    footer {
        width: 700px;
        margin: 1em auto;
    }
}
