---
layout: running
title: Andrew Hudson
page-class: page--running
category: running
---
<h1>Running</h1>

{% for post in site.categories.running limit: 50 %}
<div class="row">
  <article class="running__article">
    <header>
        <h2>
            {% if post.route %}
                {{ post.route }}
            {% else %}
                {{ post.title }}
            {% endif %}
        </h2>
        <ul class="list--plain list--running">
            <li>{{ post.date | date_to_string }}</li>
        </ul>
    </header>
    {% if post.route  and post.distance  and post.time  %}

    {% else %}
        {{ post.summary }}
    {% endif %}
    <ul class="list--plain">
      {% if post.route %}
          <li><strong>Route: </strong>{{ post.route }}</li>
      {% endif %}
      {% if post.distance %}
          <li><strong>Distance: </strong>{{ post.distance }} miles</li>
      {% endif %}
      {% if post.time %}
          <li><strong>Time: </strong>{{ post.time }}</li>
      {% endif %}
    </ul>
  </article>
</div>
{% endfor %}