---
layout: running
title: Andrew Hudson
page-class: page--running
category: running
---
<h1>Running</h1>

<p class="running__intro">I have been running on and off for more than 10 years but lately it has been more of the off. I have set up this log to list my return to running by showing the routes that I've done, time taken and distance covered.</p>

{% for post in site.categories.running limit: 50 %}
<div class="row">
  <article class="running__article">
    <header>
        <h2>
          <a href="{{ post.url }}">
            {% if post.route %}
                {{ post.route }}
            {% else %}
                {{ post.title }}
            {% endif %}
          </a>
        </h2>
        <ul class="list--plain list--running">
            <li>{{ post.date | date_to_string }}</li>
        </ul>
    </header>
    {% if post.route  and post.distance  and post.time  %}

    {% else %}
        {{ post.summary }}
    {% endif %}
    <ul class="list--plain">
      {% if post.distance %}
          <li><strong>Distance: </strong>{{ post.distance }} miles</li>
      {% endif %}
      {% if post.time %}
          <li><strong>Time: </strong>{{ post.time }}</li>
      {% endif %}
      {% if post.pace %}
          <li><strong>Pace: </strong>{{ post.pace }} / mile</li>
      {% endif %}
      {% if post.enjoyment %}
          <li><strong>Suffer score: </strong>{{ post.enjoyment }}0%</li>
      {% endif %}
    </ul>
  </article>
</div>
{% endfor %}