---
layout: running
title: Andrew Hudson
page-class: page--running
category: running
---
    <h1>Running</h1>
    {% for post in site.categories.running limit: 50 %}
    <div class="row">
      <article>
        <header>
                <ul class="list--plain post__meta">
                    <li>{{ post.date | date_to_string }}</li>
                </ul>
                <h2>
                    <a href="{{ post.url }}">
                        {% if post.route %}
                            {{ post.route }}
                        {% else %}
                            {{ post.title }}
                        {% endif %}
                    </a>
                </h2>
            </header>
        <p>
          {{ post.summary }}
        </p>
      </article>
    </div>
    {% endfor %}