/*.carousel-v1 {
	width: 100%;
}*/


.carousel {
	overflow: hidden;
	margin-bottom: 20px;
}

.carousel img {
	float: left;
	display: block;

}

.prev {
	float: left;
}
.next {
	float: right;
}

#navigation {
	text-align: center;
}

.carousel ul {
	margin-left: 0;
}


.carousel li {
	display: inline-block;
	list-style-type: none;
	border-radius: 50px;
	background: red;
	height: 20px;
	width: 20px;
	margin: 10px;
}

.carousel li:hover {
	cursor: pointer;
}

.carousel li.current-nav {
	background: blue;
}

#slider-nav {
	display: none;
}
.funkyBorder {
	border: 10px solid red;
}