/*.carousel-v1 {
	width: 100%;
}*/


.carousel {
	overflow: hidden;
	margin-bottom: 20px;
}

.carousel img {
	float: left;
	display: block;

}

.prev {
	float: left;
}
.next {
	float: right;
}

#navigation {
	text-align: center;
}



.carousel li {
	display: inline-block;
	list-style-type: none;
	border-radius: 50px;
	background: red;
	height: 10px;
	width: 10px;
}

.carousel li.current-nav {
	background: blue;
}

.carousel li + li {
	margin-left: 10px;
}