dl {
	background: green;
	padding: 1em;
	width: 50%;
	margin:auto;
}

/* the definition term, aka title */
dt {
	background: red;
	color: white;
	font-size: 2em;
	padding: 1rem;
	border-bottom: 1px solid #B22222;
}

dt:hover {
	cursor: pointer;
}

/* Definition Definition */
dd {
	margin: 0;
	background: white;
	padding: 1rem;

}

.hide {
	display: none;
}