<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} {% endif %} - Andrew Hudson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" />
    {% if page.css %}
      {% for item in page.css %}
      <link rel="stylesheet" href="/css/{{ item }}" />
      {% endfor %}
  {% endif %}
   </head>
<body class="page {{ page.page-class }}">
  <header class="header">
    <h1>
      <a href="/">bigandy.github.io</a>
    </h1>
  </header>