<!DOCTYPE html>
<html lang="en" {% if page.post_id %}
  {% capture currentmod %}{{ page.post_id|modulo:2 }}{% endcapture %}

  {% if currentmod == '0' %}
    class="post post--even"
  {% else %}
    class="post post--odd"
  {% endif %}
{% endif %}>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" />
    {% if site.enforce_ssl %}
      <!--
        redirect users to the https version of the website.
        but: only check when on the production domain, as set in _config.yml.
       -->
      <script type="text/javascript">
        var enforce = "{{ site.enforce_ssl }}";
        if ((enforce == window.location.host) && (window.location.protocol != "https:"))
          window.location = window.location.toString().replace(/^http:/, "https:");
      </script>
      {% endif %}
  </head>
<body class="page {{ page.page-class }}">
  <header class="header">
    <h1>
      <a href="/">bigandy.github.io</a>
    </h1>
    <nav>
      <a href="/" class="nav--home">Home</a>
      <a href="/about" class="nav--about">About</a>
      <a href="/blog" class="nav--blog">Blog</a>
      <a href="/demos" class="nav--demos">Demos</a>
    </nav>
  </header>