*, *:before, *:after {
    box-sizing: border-box;
}

%cf {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.post {
    .post-content,
    .post__meta li {
        color: $white;
    }
}

.post--even {
    background: hsla(97, 52%, 47%, 1);
}

.post--odd {
    background: hsla(30, 100%, 50%, 1);

    .page-title {
        color: $black;
    }
}

body {
    position: relative;
    margin: 2rem auto 0;
    font-family: "Open Sans", sans-serif;
}

.list--plain {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
    }
}

.list--inline {
    @extend %cf;

    li {
        float: left;
        padding-right: 5px;
    }
}

header {
    .post__meta {
        display: inline-block;
        position: relative;
        bottom: 4px;
    }

    h2 {
        display: inline;
        margin: 0;
    }
}

.post__meta {
    li {
        color: gray;
        font-size: 75%;
    }
}

.header,
main,
footer {
    margin: 1em;
}

.container {
    @extend %cf;
    margin-top: 0;
    margin: 0 1%;
}

// main {
//     background: white;
// }


h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-family: 'Roboto Slab', serif;
}

h1, .alpha {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 1.33333;
    margin-top: 0;
}

.page-title {
    color: lighten(red,25%);
}

.post-content a {
    text-decoration: underline;
}

a {
    text-decoration: none;

    &:focus,
    &:hover {
        text-decoration: underline;
    }

    &:hover {
        color: red;
    }

    &:focus {
        color: blue;
    }
}

nav {
    margin-bottom: 50px;

    > a {
        padding: 1em 1em 1em 0;
    }
}

code {
    font-family: 'Source Code Pro', sans-serif;
}

pre {
    background: lighten(gray, 30%);
    padding: 1em;
    margin: 0 0 1em;
    overflow: auto;
}

.pagination {
    margin-top: 50px;
}

$nav-list: home, blog, about, demos, running;

@each $nav in $nav-list {
    .page--#{$nav} .nav--#{$nav} {
        color: red;
    }
}

.hidden {
    display: none;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(black, 0.5);
    z-index: 999999;
}

picture,
img {
    max-width: 100%;
    width: 100%;
}


.page--home section,
.page--home article {
    padding: 1% 1% 1% 0;
}

.page--home section {
    padding-top: 0;
}

.btn {
    border: 1px solid $blue;
    padding: 1rem;

    &:hover,
    &:focus {
        color: $white;
        background: $blue;
        text-decoration: none;
    }
}

.btn--right {
    display: inline-block;
    margin: 3rem auto 0;
}

.full-width {
    .post-content {
        width: 100%;

        img {
            max-width: 100%;
        }
    }
}

.post__embed {
    margin-top: 3rem;
}