@import "../bower_components/normalize-scss/normalize";
@import "variables";
@import "responsive-nav";
@import "flexbox";
@import "page";
@import "running";


/* Screens Wider than 720px */

@media screen and (min-width: 400px) {
    picture,
    img {
        max-width: none;
        width: auto;
        display: block;
        margin: auto;
    }
}

@media screen and (min-width: 700px) {
    .post-content {
        width: 700px;
    }
}

@media screen and (min-width: 1020px) {
    .header,
    main,
    footer,
    .container {
        width: 1000px;
        margin: 1em auto;
    }

    .page--home .container--home {
        @include flexbox;
    }

    .page--home section {
        position: relative;
        padding-bottom: 4rem;
    }

    .btn--right {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .full-width {
        width: calc(100% - 100px);
        margin: auto;

    }
}
