---
layout: demos
page-class: ['page--demos']
---
<article class="content">
    <h1 class="page-title">
        {{ page.title }}
    </h1>
    <ul class="list--plain post__meta">
        <li>{{ page.date | date_to_string }}</li>
    </ul>
    <div class="post-content">
        {{ content }}
    </div>
</article>
<nav class="pagination">
    {% if page.previous.url %}<a href="{{ page.previous.url }}/index.html">Previous Post</a>{% endif %}
    {% if page.next.url %}<a href="{{ page.next.url }}/index.html">Next Post</a>{% endif %}
</nav>

